
<!-- Facebook 'Like' plug-in --> 
<div
	id="fb-like"
	class="fb-like"
  	data-share="true"
  	data-width="450"
  	data-show-faces="true">
</div>

<div class="user-profile">
	<h1> <%= @user.email %> </h1>
</div>

<div class="log-out">
	<%= link_to "Log out", destroy_user_session_path, 
	:method => :delete, :class => "btn btn-danger" %>
</div>