
<!-- Facebook 'Like' plug-in -->
<div id="fb-like" class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" 
	 data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
</div>

<div class="user-profile">
	<h1> <%= @user.email %> </h1>
</div>