
<div class="user-profile">
	<h1> <%= @user.name %> </h1>
</div>

<div class="accounts">
	
	<div class="auth">
		<% @have_auth.each do |a| %>
			<%= a.provider %><br>
		<% end %>	
	</div>

	<div class="no-auth">
		<% @need_auth_names.each do |provider| %>
			<%= render partial: 'devise/shared/account_auth', locals: {provider: provider} %><br>
		<% end %>
	</div>
	 
</div>

<!-- Render authenticated account content -->
<div class="account-content">
	<% @current_user.accounts.each do |a| %>
		<% if a.is_authenticated %>
			<%= render partial: a.provider %>
		<% end %>
	<% end %>
</div>

