<div id="welcome">
	
	<div class="title">
		<h3>Hub</h3>
	</div>

	<div class="main_links">
		<%=link_to "Sign up", new_user_registration_path %>
		<%=link_to "Log in", new_user_session_path  %>
	</div>
	
</div>