
/* Header for sign-up page */
h2 {
	text-align: center;
}

/* User sign-up / log-in forms */
.log-in {

	position: relative;
	width: 200px;
	height: 300px;
	left: 45%;

	.links {

		position: relative;
		top: 10%;
	}
}

.sign-up {

	position: relative;
	width: 200px;
	left: 45%;

	.links {
		position: relative;
		top: 10%;
	}
}

/* Log out button */
.log-out {
	position: absolute;
	left: 92%;
	top: 5%;
}

/* Authenticated accounts */
.accounts {

	.auth {
		color: green;
	}
}

/* FB Like Plug-in */
#fb-like {

	position: absolute;
	width: 500px;
	height: 50px;
	left: 45%;
	top: 60%;
}

.user-profile {
	
	position: relative;
	width: 300px;
	left: 45%;

	h1 {
		text-align: center;
	}
}
